*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-image: url('../img/bg.png');
}

img{
    width: 10rem;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.hero-content{
    width: 50%;
}

h1{
    margin-bottom: 10px;
    font-family: monospace;
    font-size: 40px;
}

p{
    font-family: monospace;
}

button{
    padding: 10px 15px;
    border-radius: 10px;
    background: rgb(19, 196, 255);
    margin-top: 2rem;
    font-family: monospace;
    font-weight: 600;
    cursor: pointer;
}